*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --container-width-lg: 90%; 
    --container-width-mg: 90%;
    --container-width-sm: 94%;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1; 
    background-color: #131212;     /*background color */

}

a{
    color: #ffffff;
    font-size: 20px;
}

nav{
    background: #2e2e2e; /*nav bar color*/
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0; /*nav bar postion*/
    z-index: 11;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar a{
    font-size: 0.9rem;
    transition: all 400ms ease;
}

.navbar a:hover{
    color: #ce4a71;
}

.buy-product-btn{
    padding: 9px 25px;
    background-color: #C3073F;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

rect:hover{
    transform: scale(1.0145);    
}

.page-editor-btn{
    display: block;
    margin-left: 100px;
    font-size: .8em;
    cursor: pointer;
    background-color: #C3073F;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: .6em .6em ;
    margin-bottom: 100PX;
    color: white;
  }

  .footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}  